MYSQL_URL=jdbc:mysql://localhost:3306/assignment
MYSQL_USERNAME=
MYSQL_PASSWORD=
JWT_SECRET=assignment-security-practice-jwt-secret-key-2026
JWT_ACCESS_TOKEN_EXPIRES_IN_SECONDS=1800
JWT_REFRESH_TOKEN_EXPIRES_IN_SECONDS=1209600
KAKAO_USER_INFO_URI=https://kapi.kakao.com/v2/user/me
GOOGLE_USER_INFO_URI=https://www.googleapis.com/oauth2/v3/userinfo
